@font-face {
   font-family: 'helvetica-neue-bold';
   src: url('helvetica-neue-bold/font.ttf');
}
@font-face {
   font-family: 'helvetica-neue-light';
   src: url('helvetica-neue-light/font.ttf');
}
